/* colors */

* {
  al:      #00000000;
  bg:      #1C2330;
  se:      #101010ff;
  fg:      #61afef;
  ac:      #101010ff;
  sg:	   #98c379;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
